<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Just store your secret</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/cover.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

    </style>


    <!-- Custom styles for this template -->
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/cover.js"></script>

</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">

    </header>

    <main class="px-3">
        <h1><%= path %></h1>
        <p class="lead"><%= value %></p>
        <div>
            <nav class="nav nav-masthead justify-content-center ">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        MORE
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">path</span>
                                <input type="text" id="path" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div></li>
                        <li><div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">value</span>
                                <input type="text" id="value" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div></li>
                        <li><div id="more"><a class="dropdown-item" id="get" href="/">GET</a><a class="dropdown-item" id="hide" href="#">HIDE</a></div></li>
                    </ul>
                </div>
            </nav>
        </div>
    </main>

    <footer class="mt-auto text-white-50">

    </footer>
</div>

</body>
</html>
